pipeline/REST_API_Pipeline.json
{
	"name": "REST_API_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "REST_API_to_Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "Staging_Blob_Linked_Service",
							"type": "LinkedServiceReference"
						},
						"path": "staging"
					}
				},
				"inputs": [
					{
						"referenceName": "RESTAPI_dataset",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "@activity('Get_API_Key').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RawLayer_RESTAPI_JSON_Dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_API_Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://keyvaultvgtsol.vault.azure.net/secrets/REST-API-key/a813ed985a0541a48e21cb8f86ea717d?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-01-31T15:43:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}