pipeline/Teams_Transformation.json
{
	"name": "Teams_Transformation",
	"properties": {
		"activities": [
			{
				"name": "Snowflake_Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Snowflake_RawLayer_Parquet_File",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "Snowflake_Folders_items",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Snowflake_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Snowflake_Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "folder_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "date_part_folder",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Teams_Dataflow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Snowflake_Folders_items",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Teams_Dataflow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"RawLayerSnowFlakeData": {
								"folder_name": {
									"value": "@variables('date_part_folder')",
									"type": "Expression"
								}
							},
							"SnowFlakeOutput": {
								"folder_name": "Teams"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"date_part_folder": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-01T10:36:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}